<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
        <%= render 'shared/user_info' %>
    </section>
    <%= render "shared/user_side_panel" %>
  </aside>
  <div class="span8">
    <% if @posts.any? %>
  		<ol class="posts">
    		<%= render partial: 'posts/post', collection: @posts %>
  		</ol>
  		<%= will_paginate @posts %>
	<% end %>
    
    
  </div>
</div>