<% @user ||= current_user %>
<div class="stats">
  <a href="<%= users_area_path(@area) %>">
    <strong id="followers" class="stat">
      <%= @area.users.count %>
    </strong>
    followers
  </a>
</div>