<% @user ||= current_user %>
<div class="stats">
  <!-- <a href="<%= users_area_path(@area) %>"> -->
  <p>
    <strong id="followers" class="stat">
      <%= @area.users.count %>
    </strong>
    followers
  </p>
  <p>
	<strong class = "stat">
	    <%= @area.posts.count %>
	</strong>
	posts
  <p>
  <p>
    <%= render 'follow_form' if signed_in? %>
  </p>
</div>